body{
    background-image: url(../IMG/health-still-life-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 80px;
    background: #0992ddb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#enter-btn{
  width: 100px;
  height: 50px;
  color: #fff;
background-color: aquamarine;
border-radius: 40px;
border: none;
cursor: pointer;
font-size: 1.1em;
font-weight: bold;
}

#enter-btn:hover{
  background-color: rgb(17, 245, 169);
}

.btn{
    width: auto;
    height: 30px;
    color: #fff;
background-color: aquamarine;
border-radius: 5px;
border: none;
cursor: pointer;
}

.btn:hover,
.visit:hover{
    background-color: rgb(17, 245, 169);
}

.visit{
  width: 170px;
  height: 50px;
  color: #fff;
background-color: aquamarine;
border-radius: 40px;
border: none;
cursor: pointer;
font-size: 1.1em;
font-weight: bold;
}

#createVisitBtn{
margin-top: 10px;
background-color: rgb(17, 245, 169);
}

#submit{
  margin-top: 10px;
  background-color: rgb(17, 245, 169);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #3daeec;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
  }
  
#bloodPressure,
#bmi,
#heartDiseases,
#age,
#lastVisitDate{
  margin-top: 5px;
}


  .close {
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 2px;
    font-size: 1em;
  }

  .filters-section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #priorityFilter,
  #statusFilter,
  #searchInput{
margin-right: 10px
  }


  footer{
    position: fixed;
  bottom: 0;
  width: 100%;
    height: 80px;
    background: #0992ddb3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}
